.snippet {
	background-color: yellow;
	display: inline;
	margin-right: 1px;
}

.snippet_simpleview {
	background-color: none;
	display: inline;
	margin-right: 1px;
}

.snippet.snippet_simpleview {
	background-color: transparent;
	display: inline;
	margin-right: 1px;
}

.snippet_info::before {
	background-color: yellow;
	content: attr(data-before);
}

.snippet_info::after {
	background-color: yellow;
	content: attr(data-after);
}

.snippet::before {
	content: attr(data-before);
}

/*.snippet::after {
	content: attr(data-after);
}*/

h3 > div[data-type="snp"] {
  margin-right: 2px;
}