.snippet {
	background-color: yellow;
	display: inline-block;
	margin-right: 1px;

}

.snippet_simpleview {
	display: inline-block;
}

.snippet_info {
	background-color: yellow;
}

.snippet::before {
	content: attr(data-before);
}

.snippet::after {
	content: attr(data-after);
}

h3 > div[data-type="snp"] {
  margin-right: 2px;
}